:root {
  /* Шрифты */
  --primery-font: Roboto;
  --secondary-font: Raleway;

  /* Цвета */

  --accent-color: #2196f3;
  --color-primary: #000000;
  --color-secondary: #ffffff;
  --background-color: #2f303a;
  --title-color: #212121;
  --common-txtcolor: #757575;
  --footer-contacts: rgb(255, 255, 255, 0.6);
  --button-color: #f5f4fa;
}

body {
  color: var(--common-txtcolor);
  font-family: var(--primery-font), sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

/* Логотип */
.logo {
  color: var(--accent-color);
  font-family: var(--secondary-font), sans-serif;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.logo-primary {
  color: var(--color-primary);
}

.logo-secondary {
  color: var(--color-secondary);
}
/* -------------- */
/* Стилизация верхнего меню - навигации и списка контактов*/
.header {
  font-family: inherit;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.nav-item {
  color: var(--title-color);
}

.adress-item {
  color: var(--common-txtcolor);
}

.current {
  color: var(--accent-color);
}

/* Стилизация визуальных еффектов  елементов */
.list {
  list-style-type: none;
}

.link {
  text-decoration: none;
}

.button:hover,
.button:focus,
.hero-button:hover,
.hero-button:focus {
  background-color: var(--accent-color);
  color: var(--color-secondary);
}

.link:hover,
.link:focus {
  color: var(--accent-color);
}

/* Стилизация секции Герой */
.hero {
  background-color: var(--background-color);
  color: var(--color-secondary);
}
.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: #ffffff;
}
.hero-button {
  color: inherit;
  font-family: var(--primery-font);
  background-color: var(--accent-color);
  font-size: 16px;
  font-weight: 700;
  line-height: 1.88;
  letter-spacing: 0.06em;
  cursor: pointer;
}

/* Стилизация Заголовки секций */
.section-title {
  color: var(--title-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

/* Стилизация Секция Особенности */
.features-title {
  color: var(--title-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

/* Секция Наша команда */
.team {
  color: var(--common-txtcolor);

  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}
.team-title {
  color: var(--title-color);
  font-size: 16px;
  font-weight: 500;
}

/* Стили футера */
.footer {
  line-height: 24px;
  color: var(--color-secondary);
  background-color: var(--background-color);
}

.footer-link {
  font-style: normal;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: var(--color-secondary);
}
.contacts {
  color: var(--footer-contacts);
}
/* ----------------- */

/* Стилизация Портфолио */

.button {
  background-color: var(--button-color);
  color: var(--title-color);
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  cursor: pointer;
}

.gallery-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;

  color: var(--title-color);
}

.gallery-text {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;

  color: var(--common-txtcolor);
}
